extends ../layout.pug

block content

  div
    span Name | 
    span Price | 
    span Quantity | 
    span Subtotal 

  each p in products
    div
      span #{p.product.name} | 
      span $#{p.product.price} | 
      span #{p.product.price * p.quantity}
      form(action="/cart/add/", method="POST")
        input(type="hidden",name="productId", value=p._id)
        input(type="submit", value="+1")
      span #{p.quantity} | 
      form(action="/cart/remove/", method="POST")
        input(type="hidden",name="productId", value=p._id)
        input(type="submit", value="-1")
